* {
  background-color: #00736D;
}

.container {
  width: 100%;
  max-width: 960px;
  height: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container h2 {
  color: #FFFFFF;
  margin-bottom: 12px;
}

.container input {
  color: #FFFFFF;
  width: 100%;
  max-width: 360px;
  padding: 12px;
  margin-bottom: 24px;
  outline: none;
  box-sizing: border-box;
  border: #FFFFFF 2px solid;
}

.container input::placeholder {
  color: #DDDDDD;
}

@media (min-width: 768px) {
  .container {
    padding: 48px;
  }

  .container input {
    max-width: 480px;
    margin-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 72px;
  }

  .container input {
    max-width: 600px;
    margin-bottom: 72px;
  }
}
